.env

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

bot_config.json
daily_claims.json
daily_rewards.json
linked_users.json
*.sqlite
*.db
*.bak

*.secret
token.txt
*.key
*.pem

logs/
*.log

